:root{
    --primary-color: dodgerblue;
    --secondary-color: black;
    --neutrol-text-color: rgb(78, 78, 78);
    /* -- */
    --base-background-color: white;
    --background-color: rgb(240, 239, 239);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

hr{
    background-color: rgb(50, 60, 56);
}

section{
    padding: 0em 1em;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 1024px;
    margin: auto;
}

header{
    background-color: var(--secondary-color);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
}

.logo a{
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    font-weight: 800;
}

header nav ul{
    list-style: none;
    position: relative;
}


header nav ul li a{
    text-decoration: none;
}

header nav{
    position: absolute;
    background-color:var(--secondary-color) ;
    top: 3.5em;
    left: 0;
    width: 100%;
    display: none;
}

 nav ul li{
    padding-bottom: 1em;
}

 nav ul li:hover{
    background-color: rgba(11, 11, 11, 0.735);
}

/* GROUPS */
.cta-explore-more-blogs-container,
.cta-explore-more-books-container {
    text-align: center;
}

.cta-explore-more-blogs,
.cta-explore-more-books {
    width: 15em;
    height: 2.5em;
    margin: 4em;
    border: none;
    /* text-align: center; */
    border-radius: 50px;
    color: var(--base-background-color);
    background-color: var(--secondary-color);
}





/* introduction-section */
.introduction-section{
    text-align: center;
    padding-top: 20vh;
    height: auto;
    min-height: 80vh;
}

.cta-heading{
    font-size: 2em;
}


.cta-subheading{
    color: gray;
}


.cta-btn, .cta-btn-blog{
    margin-bottom: ;
    width: 10em;
    height: 2.5em;
    font-weight: 400;
    font-size: small;
    border-radius: 50px;
    margin: 1em;
    transition:color 1s ease-out, background-color 1s ease-out ,border 1.5s ease-out ;
}

.cta-btn{
    border: 1px solid dodgerblue;
    background-color:dodgerblue;
    color: white;
       
}

.cta-btn:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(19, 202, 205);
    border:rgb(19, 202, 205)  ;
}

.cta-btn-blog{
    border: 1px solid dodgerblue;
    background-color: transparent;
    color: dodgerblue;
    transition: color 1s ease-out, background-color 1s ease-out, border 1.5s ease-out;
}

.cta-btn-blog:hover{
    background-color: rgb(235, 248, 255);
}

.cta-search{
    /* margin-top: 3em; */
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(220, 220, 220, 0.467);
    border-radius: 50px;
    box-shadow: 1px 1px 20px -0.5em rgba(0, 0, 0, 0.088);
    max-width: 70vw;
    margin: auto;
}



.cta-search input{
    width: 90%;
    border: none;
}

.cta-search input:focus{
    font-size: 1.2em;
    /* color: red; */
    font-weight: 200;
    outline: none;
}

/* SALES ADVERTICEMENT */
marquee{
    margin-top: 1em;
    font-size: 2em;
    color: red;
}


/* books-section */
.books-section{
    padding-bottom: 2em;
    margin: 5em 0em;
    min-height: 70vh;
    height: auto;
}

.books-section
.book-section-heading{
    text-align: center;
    font-family:monospace;
    font-size: 2em;
    margin-top: 2em;
    color: blueviolet;
}

.books-container{
    height: auto;
    display: grid;
    grid-template-columns: repeat(autofill, minmax(2, 1fr));
    /* flex-direction: column; */
    text-align: center;
}

.books-container
.book-card{
    padding: 2em;
    margin: 1em;
    max-width: 100%;
    /* border: 1px solid black; */
    border-radius: 3px;
  
    justify-content: space-between;
    gap: 1em;
    min-height: 10em;
    border: 1px solid gainsboro;
}

.books-container .book-card .sale-book-cover{
    width: 100%;
    height: auto;
    max-width: 10em;
    max-height: 15rem;
    min-height: 15em;
}

.books-container .book-card
.book-title{
    font-size: 1.2em;
    color: rgb(35, 35, 35);
    width: 100%;
 }



.books-container .book-card 
.book-author{
    color: var(--neutrol-text-color);
    margin: 0.7em 0em;
    color: var(--primary-color);
    cursor: pointer;
    /* color: ; */
 }

  .books-container .book-card 
  .add-to-cart-btn{
    margin: 1em 0em;
    width: 10em;
    height: 2em;
    font-weight: 700;
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--base-background-color);
  }

  .books-container
.book-card .add-to-cart-btn:hover{
    background-color: rgb(16, 118, 219);
}




/* blog-section */
.blog-section{
    height: auto;
    min-height: 70vh;
    background-color:var(--background-color);
}

.blog-section h1{
    font-size: 2em;
    padding: 1em;
}

.blog-container{
    display: grid;
    grid-template-columns: 1fr;
    padding: 2em 0em;
}


.blog-container  .blog-card{
    margin: 0.6em;
    padding: 1em;
    box-shadow: 1px 1px 25px -1em rgb(141, 168, 168);
}

.blog-container .blog-card img{
    width: 100%;
    height: auto;
    min-height: 10em;
}

.blog-container .blog-card h2{
    margin-bottom: 1em;
}

.blog-update-time{
    color: rgb(48, 151, 151);
}

.blog-container .blog-card p{
    margin-bottom: 0.5em;
}

.blog-description{
    color: rgb(57, 55, 55);
}

.blog-container .blog-card button{
    background-color:rgb(48, 151, 151) ;
    width: 10em;
    height: 2em;
    margin: 1em 0em;
    border: none;
    color: white;
    font-size: 1em;
}

.blog-container .blog-card button:hover{
    background-color:  rgb(39, 125, 125);
}

.cta-explore-more-blogs{
    margin-top: 1em;
}


/* .newsletter-banner-section */
.newsletter-banner-section{
    background-image: url() ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    min-height: 40vh;
    height: auto;
    padding: 2em;
    display: flex;
    margin: 2em 0em;
    flex-direction: column;
    /* align-items: center; */
    text-align: center;
    background-color: dodgerblue;
    justify-content: center;
}

.newsletter-banner-section form{
    margin: 2em;
}

.newsletter-banner-section form input{
    width: 16em;
    height: 2em;
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: none;
}

.newsletter-banner-section form input:focus{
    outline: none;
}

.newsletter-banner-section form button{
    width: 13em;
    height: 1.7em;
    padding: 4px;
    font-size: 1.2em;
    margin: 1em 0em;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    color: rgb(88, 88, 88);
    transition: background-color 1s ease-out;
}

.newsletter-banner-section form button:hover{
    background-color: aquamarine;
}

/* about-section */
.about-section{
    height: auto;
    min-height: 60vh;
    background-color: rgb(235, 235, 235);
}

.about-section h1{
    margin-bottom: 1.5em;
}

.about-section img{
    width: 100%;
    height: auto;
    max-width: 20;
    min-height: 15em;
    margin-bottom: 1em;
}

.about-cta-btn{
    margin: 1.5em 0em 4em 0em;
    width: 15em;
    height: 2em;
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.sample-song-from-youtube {
    text-align: center;
    /* margin: auto; */
    width: 100%;
    height: auto;
    min-height: 5em;
    /* background-color: var(--primary-color); */
    /* min-width: 100%; */
}

.sample-song-from-youtube video {
    width: fit-content;
    height: auto;
}


footer{
    background-color: rgb(1, 21, 34);
    color: white;
    min-height: 35vh;
    margin-top: 3em;
    padding: 1em;
}

footer h2{
    margin-bottom: 1em;
    color: rgb(255, 255, 255);
}

footer nav{
    margin-bottom: 2em;
}

footer nav h3{
    color: darkcyan;
    margin: 2em 0em 0.5em 0em;
}

footer nav ul{
    list-style: none;
}

footer nav ul a{
    text-decoration: none;
    color:white ;
}

footer nav ul a:hover{
    text-decoration: 1px underline;
}

footer button{
    width: 10em;
    height: 2em;
    margin-bottom: 1em;
}

/* MIDEA QUERIES */
@media(min-width:500px) {
    .books-container .book-card {
        display: flex;
    }

}


@media(min-width:768px){
    .cta-btn, .cta-btn-blog {
        width: 15em;
        height: 2.5em;
        font-weight: 700;
        font-size: large;
        border-radius: 50px;
        margin: 1.5em;
        transition: color 1s ease-out, background-color 1s ease-out, border 1.5s ease-out;
    }

    .cta-search {
        width: 40vw;
    }
    
    .cta-heading {
        font-size: 3.5em;
    }


    /* books-section */
    .books-section {
        height: auto;
        min-height: 50vh;
    }

    .books-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .books-container .book-card {
        display: block;
    }

    /* blog-section */
    .blog-section {
        height: auto;
        min-height: 50vh;
        background-color: var(--background-color);
    }

    .blog-container {
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    /* .newsletter-banner-section */    
    .newsletter-banner-section form button {
        width: 9em;
        margin: 0em 1em;  
    }

    footer {
        background-color: rgb(1, 21, 34);
        color: white;
        min-height: 35vh;
        margin-top: 3em;
    }
}

/* News letter responsiveness Plus */
@media(min-width:526px){
    .newsletter-banner-section form button {
        width: 9em;
        margin: 0em 1em;
    }
}

@media(min-width:1024px){
    .books-container .book-card {  
        display: block;
    }

}

/* ARRIBION ADs */
.arribion{
    /* bottom: 1em; */
    text-align: center;
}

.arribion-line{
    margin-top: 0.5em;
    font-size: 0.8em;
}
.arribion a{
    color: aqua;
    text-decoration: none;
}

